##################################
  General Project Files
##################################
.idea/







##################################
  WordPress Files
##################################
#public/nightly/*.log
public/nightly/.htaccess
public/nightly/sitemap.xml
public/nightly/sitemap.xml.gz
public/nightly/wp-config.php
public/nightly/wp-content/advanced-cache.php
public/nightly/wp-content/backup-db/
public/nightly/wp-content/backups/
public/nightly/wp-content/blogs.dir/
public/nightly/wp-content/cache/
public/nightly/wp-content/upgrade/
#public/nightly/wp-content/uploads/
public/nightly/wp-content/wp-cache-config.php
public/nightly/wp-content/plugins/hello.php

public/nightly/readme.html
public/nightly/license.txt





##################################

##################################




