
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /__THE_BILL_PLEASE/labs.aatsol.co.za/public/development/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /__THE_BILL_PLEASE/labs.aatsol.co.za/public/development/index.php [L]
</IfModule>

# END WordPress
